<li class="playlist__items">
    <div class="playlist__song">
        <div class="playlist__song-cover"><img src="{{ x.artist_img }}" alt="{{ x.artist_name }}"/></div>
        <div class="playlist__song-btn">
            <div class="song-btn">

                {% if current_user.is_admin_user %}
                <form method='POST' action='/artistes/delete/'>
                    <input type="hidden" name="id" value='{{ x.artist_id }}'>
                    <button class="delete" type='submit'>
                        <i class="fa fa-times-circle"></i>
                    </button>
                </form>
                {% endif %}

                <form action="/artistes/details/{{ x.artist_name }}/" method="POST">
                    <input type="hidden" name="name" value='{{ x.artist_name }}'>
                    <input type="hidden" name="img" value='{{ x.artist_img }}'>
                    <input type="hidden" name="id" value='{{ x.artist_id }}'>
                    <button class="more" type="submit">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                </form>

            </div>
        </div>
    </div>
    <div class="playlist__song-title">{{ x.artist_name }}</div>
</li>