<li class="playlist__items">
    <div class="playlist__song">
        <div class="playlist__song-cover" style="background: linear-gradient(#879AF2, #D3208B, #FDA000)"></div>
        <div class="playlist__song-btn">
            <div class="song-btn">
            </div>
        </div>
    </div>
    <div class="playlist__song-title">{{ x }}</div>
</li>