<div class="container">
    <div class='banner'>
        <img src="{{ res.artist_img }}" alt="picture of {{ res.artist_name }}">
    </div>
    <div class="info">
        <div>
            {% if current_user.is_admin_user %}
            <form action="/artistes/details/{{ res.artist_name }}/edit/" method="POST">
                <input type="hidden" name="id" value="{{ res.artist_id }}">
                <button class="edit" type="submit">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </form>
            {% endif %}
            <h1>{{ res.artist_name }}</h1>
    </div>
</div>