
main {
    display: flex;
}
.playlist_container{
    display: flex;
    flex-basis: 100%;
}

.playlist-h2  {
    font-size: 1rem;
    font-weight: bold;
}

.user-profile{
    display: flex;
    margin-bottom: 2em;
}

.user-image {
    border-radius: 50%;
    width: auto;
    height: auto;
    max-width:64px;
    max-height:64px;
}
.user-info{
    margin-left: 1em;
    flex-basis: 50%;
    flex-direction: column;
}
.user-title {
    font-size: .9rem;
    margin-bottom: 0;
}

.username {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}


.modal-bootstarp {
    color: black;

}