@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700";
:root {
  --cards-dimension: 150px;
  --rouge: #DC1D21;
  --vert-hover:#089680;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.button_more,
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  background-color: #212121;
}


.play {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--vert-hover);
}

.playlist__header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.playlist__header-title {
  -webkit-box-flex: 1;
          flex: 1;
  font-size: 18px;
}

.playlist__list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.playlist__items {
  margin: 1.3em .2em;
  width: calc(var(--cards-dimension) + 30px);
  height: calc(var(--cards-dimension) + 30px);;
}

.playlist__song {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 36px 47px -27px rgba(0, 0, 0, 0.62);
  width: var(--cards-dimension);
  height: var(--cards-dimension);
}
.playlist__song-cover {
  position: relative;
  width: var(--cards-dimension);
  height: var(--cards-dimension);
}
.playlist__song-cover img {
  width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.playlist__song-btn {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.playlist__song-title {
  font-weight: 300;
  margin-top: 10px;
  color: white !important;
}

.song-btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-align: center;
          align-items: center;
}
.song-btn__link {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}
.song-btn__link:hover {
  color: var(--vert-hover);
}

.playlist__song:hover .playlist__song-btn {
  display: block;
}

.header-nav__link {
  color: #fff;
  margin-left: 20px;
  font-size: 24px;
}
.header-nav__link_disable {
  color: #5d6373;
  cursor: default;
}

a.song-btn__link:hover {
  text-decoration: none;
}

button.more {
  border: none;
  background: transparent;
}

i.fa-ellipsis-h {
  color: white;
}

i.fa-ellipsis-h:hover {
  color: var(--vert-hover);
}

i.fa-times-circle,
button.delete {
  position: absolute;
  top: -5%;
  right: -5%;
  font-size: 2rem;
  color: white;
}

i.fa-times-circle:hover {
  color: var(--rouge);
}