:root {
    --orange: #ff9100;
    --vert: #1DB954;
    --vert-clair: #1ed760;
    --vert-hover: #189644;
    --noir: #121212;
    --noir-sobre: #212121;
    --gris: #535353;
    --gris-clair: #b3b3b3;
    --rouge: #DC1D21;
    --rouge-hover:#b8171a;
    --bleu-ciel: #A5FFEF;
    --rose : #cb1582;
    --bleu: #2D46B9;
}

* {
    box-sizing: border-box;
}

body,
html {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: var(--noir);
    line-height: 1.6;
    margin: 0;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.87);
    min-height: 100vh;
}

.green-text {
    color: var(--vert);
}

header {
    background-color: var(--noir);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header>div.logo>* {
    vertical-align: middle;
}

header>div.logo>img {
    margin: 0 auto;
    width: 100px;
    height: auto;
    display: inline-block;
}

header>div.logo>h1 {
    display: inline-block;
}

header>nav>div.login {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 2em;
}

header>nav>div.login>* {
    align-self: center;
    color: inherit;
}

header>nav>div.login>*:hover {
    color: var(--orange);
}

header>nav>div.login>*:not(:first-child):before {
    content: "|";

    color: #fff;
    display: inline-block;
    padding: 0 5px;
}

main section,
main section h1,
main section p {
    margin: 0;
}

main section.gallery:first-child {
    background-color: var(--bleu-ciel);
    color: var(--rose);
}

main section.gallery:nth-child(2) {
    background-color: var(--rose);
    color: var(--bleu-ciel);
}

main section.gallery:nth-child(3) {
    background-color: var(--bleu);
    color: var(--vert);
}

main section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

main section img {
    width: 1000px;
    height: auto;
    padding: 2em;
}

main section div.info {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section div.info p {
    font-size: 1.2rem;
    margin-top: 1em;
    width: 30vw;
}

main section div.info h1{
    font-size: 2rem;
}

/* Le curseur */
html::-webkit-scrollbar-thumb {
    background: #434343;
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}

/* La scrollbar */
html::-webkit-scrollbar {
    width: 16px;
}

/* Le fond */
html::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}
