<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/handmade/login-register.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_spotici.png') }}" type="image/x-icon">
    <title>SPOTICI | Connexion</title>
</head>

<body>
    <header>
        <div class="logo rotate">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/logo_spotici.png') }}" alt="Logo de Spotici">
                <h1>Spot<span class='green-text'>ici</span></h1>
            </a>
        </div>
        <h2>Prêt à lancer la lecture ?</h2>
    </header>
    <div class="container mx-auto">
        <form action='#' method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                {{ form.username(size=50, class_="form-control", id="username", placeholder="Saisissez un nom de profil.") }}
                <!-- <input type="text" class="form-control" id="username" placeholder="Saisissez un nom de profil." required> -->
                <small id="username" class="form-text">Celui-ci apparaîtra sur votre profil.</small>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                {{ form.password(size=50, class_="form-control", id="password", placeholder="Créez un mot de passe.") }}
                <!-- <input type="password" class="form-control" id="password" placeholder="Créez un mot de passe." required> -->
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="flash">
                {{messages[0]}}
            </div>
            {% endif %}
            {% endwith %}
            <button type="submit" class="btn btn-primary">Se connecter</button>
        </form>
        <span class='already'>Vous n'avez pas de compte ? <a href="/inscription"> Créez-en un</a>.</span>
    </div>

    {% block script %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    {% endblock %}
</body>

</html>