{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/handmade/details.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/handmade/edit_album.css')}}">
{% endblock %}

{% block main %}
    <main>
        {% if selection == "albums" %} <!-- Albums-->
            {% include 'edit/edit-album.html' %}

        {% elif selection == "artistes" %}   <!-- Artistes-->
            {% include 'edit/edit-artist.html' %}

        {% elif selection == "musiques" %}   <!-- Musiques-->
                {% include 'edit/edit-song.html' %}
        {% endif %}
    </main>
{% endblock %}