{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/handmade/details.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/handmade/edit_album.css')}}">
{% endblock %}

{% block main %}
    <main class='edit-album'>
        <div class="container">

            <form action="/album/details/<string:album>/edit/validate/" method='POST'>
                
                <div class='edit-img'>
                    <div>
                        <fieldset>
                            <legend>
                                Edit Cover Album URL
                            </legend>
                            <textarea name="img" rows="2" cols="80"required>{{img}}</textarea>
                        </fieldset>
                    </div>
                </div>

                <div class="info">

                    <h1><input id="title" type="text" name="title" value="{{title}}" required></h1>
                    <i>By : 
                        <input type="text" name="artist" value="{{artist}}" required> - 
                        <input type="text" name="date" value="{{date}}" required pattern="[0-9]{4}">
                    </i>
                    <div class='description'>
                        <fieldset>
                            <legend>
                                Edit Album Description
                            </legend>
                            <textarea id="desc" name="description" rows="10" cols="50" required>{{description}}</textarea>
                        </fieldset>
                    </div>
                </div>

                <input type="hidden" name="original_title" value='{{title}}'>
                <input type="hidden" name="original_artist" value='{{artist}}'>

                <div class="buttons">
                    <button type="submit"><i class="fas fa-check"></i>Confirm</button>
                    <a href="{{ url_for('home') }}"><i class="fas fa-times"></i>Cancel</a>
                </div>
                
            </form>

        </div>
    </main>
{% endblock %}
