{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/handmade/recherche.css') }}">
{% endblock %}

{% block main %}
    <header>
        <div class="container">
            <form action="/recherche/{{ selection }}/resultat/1/" method='GET'>
                <i class="fas fa-search"></i>
                <input type="search" name="search" placeholder="Rechercher des {{ selection }}">
            </form>
        </div>
    </header>

    <div class="nav-arrow">
        <a href="{{previous}}">
            <i class="fas fa-angle-double-left"></i>
        </a>
        <span>{{ numpage }}</span>
        <a href="{{next}}">
            <i class="fas fa-angle-double-right"></i>
        </a>
    </div>

    <section>

        {% if selection == "albums" %} <!-- Albums-->
                <ul class="playlist__list">
            {% for x in resultat %}
                {% include 'search/albums.html' %}
            {% endfor %}
            </ul>
        {% elif selection == "artistes" %}   <!-- Artistes-->
                <ul class="playlist__list">
            {% for x in resultat %}
                    {% include 'search/artists.html' %}
            {% endfor %}
                </ul>

        {% elif selection == "genres" %}   <!-- Genres-->
                <ul class="playlist__list">
                {% for x in resultat %}
                        {% include 'search/genres.html' %}
                {% endfor %}
                </ul>

        {% elif selection == "musiques" %}   <!-- Musiques-->
            <ul class="playlist__list">
            {% for x in resultat %}
                {% include 'search/song.html' %}
            {% endfor %}
            </ul>
        {% endif %}
    </section>

        <div class="nav-arrow">
        <a href="{{previous}}">
            <i class="fas fa-angle-double-left"></i>
        </a>
        <span>{{ numpage }}</span>
        <a href="{{next}}">
            <i class="fas fa-angle-double-right"></i>
        </a>
    </div>
{% endblock %}